{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="icon" href="{% static 'admin_cohort/img/favicon.ico' %}"/>
        <title>Login</title>
        <link rel="stylesheet" href="{% static 'admin_cohort/css/login.css' %}">
    </head>
    <body>
        <div id="login-form-wrap">
            <div class="login">
                <img src="{% static 'admin_cohort/img/Logo_user_data_SVG_cohort360_small.png' %}" alt="Cohort360" class="center"/>
                <div class="login-background">
                    <form method="post" id="login-form">
                        {% csrf_token %}
                        <input type="text" id="id_username" name="username" placeholder="Username"><i
                            class="validation"><span></span><span></span></i>
                        <input type="password" id="id_password" name="password" placeholder="Password" required><i
                            class="validation"><span></span><span></span></i>
                        <input type="submit" id="login" value="Login">
                    </form>
                    <img src="{% static 'admin_cohort/img/logo-aphp-white.png' %}" alt="Cohort360" class="center"/>
                </div>
            </div>
        </div>
    </body>
</html>
