#------------------------------------     SYSTEM
ADMIN_USERNAME=admin
ADMIN_FIRSTNAME=Admin
ADMIN_LASTNAME=ADMIN
ADMIN_EMAIL=admin@backend.fr

INCLUDED_APPS=accesses,cohort,exports,content_management
DEBUG=1
ADMINS=
NOTIFY_ADMINS=False
FRONTEND_URL=http://local-cohort.fr
FRONTEND_URLS=http://local-portail.fr,http://local-cohort.fr
BACKEND_HOST=localhost:8000
CELERY_BROKER_URL=redis://localhost:6379
SOCKET_LOGGER_HOST=localhost
USERNAME_REGEX=
EMAIL_REGEX=^[\w.+-]+@[\w-]+\.[\w]+$

#------------------------------------    DATABASES
DB_NAME=cohort_db
DB_USER=cohort_dev
DB_PASSWORD=cohort_dev_pwd
DB_HOST=localhost
DB_PORT=5432

PERIMETERS_SOURCE_DB_HOST=
PERIMETERS_SOURCE_DB_PORT=
PERIMETERS_SOURCE_DB_NAME=
PERIMETERS_SOURCE_DB_USER=
PERIMETERS_SOURCE_DB_PASSWORD=
PERIMETERS_SOURCE_DB_SCHEMAS=

#------------------------------------    AUTHENTICATION
JWT_ALGORITHMS=RS256,HS256

IDENTITY_SERVER_URL=
IDENTITY_SERVER_AUTH_TOKEN=

ENABLE_OIDC_AUTH=True

OIDC_AUDIENCE=audiences_1,audiences_2
OIDC_AUTH_SERVER_1=server_1
OIDC_REDIRECT_URI_1=redirect_uri_1
OIDC_CLIENT_ID_1=client_id_1
OIDC_GRANT_TYPE_1=grant_1
OIDC_CLIENT_SECRET_1=client_secret_1

OIDC_AUTH_SERVER_2=server_2
OIDC_REDIRECT_URI_2=redirect_uri_2
OIDC_CLIENT_ID_2=client_id_2
OIDC_GRANT_TYPE_2=grant_2
OIDC_CLIENT_SECRET_2=client_secret_2

OIDC_EXTRA_SERVER_URLS=

# add extra OIDC config blocks as above

#------------------------------------    COHORT
LAST_COUNT_VALIDITY=24
COHORT_SIZE_LIMIT=20000
FHIR_URL=
QUERY_EXECUTOR_URL=
QUERY_EXECUTOR_USERNAME=
SOLR_ETL_USERNAME=
USE_SOLR=False

#------------------------------------    PERIMETERS
PERIMETER_TYPES=
ROOT_PERIMETER_ID=
REPORTING_PERIMETER_TYPES=

#------------------------------------    DATA EXPORTS
STORAGE_PROVIDERS=https://storage.server1.fr,https://storage.server2.fr
DAYS_TO_KEEP_EXPORTED_FILES=7

EXPORT_API_URL=https://data-exporter-api-.fr
HADOOP_API_URL=https://hadoop-api.fr

EXPORT_CSV_PATH=/apps/hive/warehouse/data/exports/csv
EXPORT_XLSX_PATH=/apps/hive/warehouse/data/exports/xlsx
HIVE_DB_PATH=/apps/hive/warehouse/data/exports/hive

#------------------------------------    EMAIL ALERTS
ACCESS_EXPIRY_FIRST_ALERT_IN_DAYS=30
ACCESS_EXPIRY_SECOND_ALERT_IN_DAYS=2
ACCESS_MANAGERS_LIST_LINK=

#------------------------------------    SCHEDULED JOBS
SCHEDULED_TASKS=
MAINTENANCE_PERIODIC_SCHEDULING_MINUTES=1

#------------------------------------    SECURITY
DJANGO_SECRET_KEY=SomESeCreTKey
QUERY_EXECUTOR_TOKEN=
SOLR_ETL_TOKEN=
JWT_SIGNING_KEY=

#------------------------------------    MISCELLANEOUS: EMAILING
EMAIL_USE_TLS=
EMAIL_HOST=
EMAIL_PORT=
EMAIL_SUPPORT_CONTACT=
DEFAULT_FROM_EMAIL=test@localhost

#------------------------------------    MISCELLANEOUS: CACHE
ENABLE_CACHE=False

#------------------------------------    MISCELLANEOUS: InfluxDB
INFLUXDB_ENABLED=False
INFLUXDB_URL=
INFLUXDB_ORG=
INFLUXDB_BUCKET=
