{% extends "email_base_template.html" %}

{% block content %}

Votre export de données concernant la cohorte numéro {{ cohort_id }} a été généré avec succès.
<br>
Rappel des tables sélectionnées:
<ul>
    {% for table in selected_tables %}
        <li>{{ table }}</li>
    {% endfor %}
</ul>
<br>
<br>
Téléchargez les fichiers en suivant le lien ci-dessous en utilisant votre code APH et mot de passe de session Windows:
<br>
<br>
<a href='{{ download_url }}' class='OWAAutoLink'>Télécharger</a>
<br>
<br>
Pour une première utilisation, vous trouverez à <a href="https://gitlab.eds.aphp.fr/public-resources/eds-doc/-/wikis/Export">ce lien</a> une aide pour l'ouverture des fichiers.
<br>
<br>
Les fichiers d'export seront disponibles au téléchargement pendant 7 jours, jusqu'au {{ delete_date }}. Passé cette date, le téléchargement des fichiers ne sera plus possible.
<br>
<br>
Pour toute question, contactez le support Cohort360 à l'adresse <a href="mailto:{{ contact_email_address }}">{{ contact_email_address }}</a>

{% endblock %}